.navbar-custom {
    background-color:#428bca;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.navbar-toggle .icon-bar-custom {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #5bc0de;
  border-radius: 10px;
}
